body {
    height: 100%;
    background-color: #201f22;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23575a61' fill-opacity='0.43' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.ui.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    background: white;
}

.left-container {
    width: 50%;
    padding: 10px;
}

.left-container > h2 {
    color: #2185D0;
}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.right-container > button {
    margin-bottom: 15px !important;
}

.navigation-controllers {
    text-align: right;
}

#review-data {
   display: none; 
}

@media screen and (min-width: 1200px) {
    .ui.container {
        width: 900px;
    }
}
